.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.loader-overlay img {
  width: 100px;
  position: absolute;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
}
